# Firebase Configuration
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_API_KEY=AIzaSyD89CULBWFNV4ODB19kkRrLVwIBLYulGSU
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_AUTH_DOMAIN=gen-lang-client-0232580404.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_PROJECT_ID=gen-lang-client-0232580404
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_STORAGE_BUCKET=gen-lang-client-0232580404.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_MESSAGING_SENDER_ID=1019275164308
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_APP_ID=1:1019275164308:web:7cddcd259fc85bb1759281
VITE_FIREBASE_DATABASE_ID=

# Facebook Pixel & CAPI
VITE_FB_PIXEL_ID=
VITE_FB_PIXEL_ID=26487018800931508
FB_ACCESS_TOKEN=
VITE_IMGBB_API_KEY=
VITE_IMGBB_API_KEY=ec2f617224743135a5b6ddb43142a29c
